@font-face {
    font-family: newPolice;
    src: url("../police/newPolice.otf");
}

body {
    font-family:newPolice;
    background-color: lightgray;
}

/* Style menu/footer rpout*/

footer {
    background-color: grey;
    margin-top: 6%;
}
.menuA,.menuB {
    list-style-type: none;
    height: 100%;
}

.maxHeight {
    height: 100%;
}

.menuA a li {
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
    display: flex;
    float: left;
    width: auto;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:relative;
}

.menuB a li {
    padding-left: 2.3%;
    padding-right: 5.2%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
    display: flex;
    width: auto;
    color: white;
    float: right;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:relative;
}

.menuA a li:hover, .menuB a li:hover {
    background-color: grey;
}

.btnConnect{
    width: fit-content;
}
@media screen and (min-width: 992px) {
    .globalMenu {
        height: 75%;
        background: url("../images/banniereV32.JPG") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 6%;
    }
}
.menuBar {
    background: rgba(255,255,255,0.2);
}

.containerA {
    height: 15%;
}

.containerB {
    height: 60%;
}

.cardAll {
    box-shadow: 1px 1px 10px black;
    height: 100%;
    border-radius: 6px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.containerAB {
    height: 85%;
}

#nbPLayer {
    text-align: center;
    margin-top : 80%;
    color: white;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    font-size: 2em;
    border-radius: 10px;
    width: auto;
    position: absolute;
    bottom: 10%;
}

.rowNbPlayer {
    position: relative;
}

.containerC {
    padding-top: 4%;
    padding-bottom: 4%;
}

.cardAll a {
    text-decoration: none;
}

.cardAllJoin{
    background: url("../images/nousRejoindre.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardAllEvent{
    background: url("../images/event.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


.cardAll:hover {
    opacity: .8;
}


.cardLink .btn {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top:0;
    border : none;
}

.cardTitle {
    height :15%;
    color: whitesmoke;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(2,2,2,0.5);
    font-size: 3.5vh;
}

.cardTitle .tucasse {
    justify-content: center;
    align-items: center;
    max-height:100%;
    height:100%
}

.imageClc {
    height: 50%;
    width:20%;
}

@media screen and (max-width: 992px)
{
    .mediaQueryCard {
        margin-top: 5%;
    }
    .globalMenu {
        height: 35%;
        background: url("../images/banniereV32.JPG") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 6%;
    }
}

/* Style page connexion/inscription*/

.connectCard {
    background-color: grey;
    border-radius : 10px;
}

.parentBtnInscription{
    text-align: center;
    width: 100%;
}
.btnInscription {
    justify-content: center;
    background-color: #1a1e21;
    color:  white;
    font-size: 2em;
    width: 100%;
}

.padding-top-2{
    padding-top:2%;
}

.padding-top-4{
    padding-top:4%;
}

.txtConnexion {
    font-size: 2em;
}

.aMaxWith {
    word-wrap: break-word;
    text-decoration: none;
    width: 100%;
}

/* Style page profil*/

.divPhotoUser
{
    padding: 0px;
    text-align: center;
}

.divInfosUser
{

    padding: 0px;
}

.photoUser
{
    text-align : center;

}

.cardPhotoUser
{
   padding-top: 30%;
}

.userName
{
    text-align : center;
    font-size: 30px;
}
.infos{
    float: left;
    font-size: 25px;
    padding: 30px;
}

.userInfos
{
    text-align: center;
    vertical-align: center;
}

.infosTitle
{
    font-weight: bold;
    float: left;
    font-size: 25px;
    padding: 30px;
}
.divInfosUser{
    background-color: #c9c9c9;
    box-shadow: 1px 1px 10px black;
}

.fa
{
    padding-top: 20px ;
}

.photo{
    width : 60%;
    border-radius : 50%; box-shadow: 1px 1px 10px black;
}
@media screen and (max-width: 992px) {

    .photoUser {
        width: 100%;

    }
    .cardPhotoUser{
        padding-top: 0px;
        text-align: center;
    }
    .userName
    {
        text-align : center;
        font-size: 50px;
    }
    .infos{
        float: left;
        font-size: 35px;
        padding: 15px;
    }

    .userInfos
    {
        text-align: center;
        vertical-align: center;
        padding-bottom: 10px;
    }

    .infosTitle
    {
        font-weight: bold;
        float: left;
        font-size: 40px;
        padding: 15px;
    }
}
