@font-face {
    font-family: newPolice;
    src: url("../police/newPolice3.ttf");
}

body {
    font-family:newPolice;
    background-color: lightgray;
}

/* Style menu/footer rpout*/

#fondecran {
    /* Fixe l'image en haut à gauche de la page */
    position: fixed;
    top: 0;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
}
p{
    margin-left: auto;
    margin-right: auto;
<<<<<<< HEAD
    /*font-size: 4em;*/
    color: white;
}

.menuAfftitre p {
    font-size:4em;
}

.menuAffsoustitre p {
    font-size:4em;
}
=======
    font-size: 4em;
    color: white;
}

>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09
.menuAffnbjoueurs
{
    width: 100%;
}

.menuAfftitre
{
    width: 100%;
    height: 15%;
    margin-top: 15%;
    margin-bottom: auto;
}

.menuAffsoustitre{
    width: 100%;
    margin-bottom: auto;
    font-size: 0.5em;
}
footer {
    background-color: grey;

}
.menuA,.menuB {
    list-style-type: none;
    height: 100%;
}

.maxHeight {
    height: 100%;

}

.menuA a li {
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
    display: flex;
    float: left;
    width: auto;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:relative;
}

.menuB a li {
    padding-left: 2.3%;
    padding-right: 5.2%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
    display: flex;
    width: auto;
    color: white;
    float: right;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:relative;
}

.menuA a li:hover, .menuB a li:hover {
    background-color: rgba(100,100,100,0.8);
    box-shadow : inset 0px -10px 10px -5px rgba(50,50,50,50.79);
}

.btnConnect{
    width: fit-content;
}

.menusize
{
<<<<<<< HEAD
    height: 90%;
=======
    height: 15%;
>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09
    position:relative;
}

footersize{
    height: 100%;
    position:relative;
}
@media screen and (min-width: 992px) {
    .globalMenu {
        height: 100%;
        width: 100%;
        background-image: url("../images/testbanniere.png") /**no-repeat center center**/;
        background-position: 50% 50%;
<<<<<<< HEAD
        /** -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         margin-bottom: 6%;*


         position: fixed;
         */
=======
       /** -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 6%;*

        */
        position: fixed;
>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09
    }
}
.menuBar {
    background: rgba(100,100,100,0.4);
}

.containerA {
    height: 15%;
    position: fixed;
    z-index: 2;
}

.containerB {
<<<<<<< HEAD
    z-index:3;
=======
>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09
    box-shadow: 1px 1px 10px black inset;
    height: 100%;
    position: relative;
    background: lightgrey;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.menuTitre{
    height: auto;
    position: relative;
}
.containerBbis{
    text-shadow: 1px 1px 50px black;
    position: relative;
}

.infosPres{
    text-align: center;
    color: white;
}
.cardPres{
    padding: 0px;
}

.infosPres{
    padding: 3%;
}

.cardAll {
    box-shadow: 1px 1px 10px black;
    height: 100%;
    border-radius: 6px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.containerAB {
    height: 100%;
    box-shadow: 0px 0px 10px black;
    text-shadow: 1px 1px 50px black;
}

#nbPLayer {
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    font-size: 2em;
    border-radius: 10px;
    width: auto;
<<<<<<< HEAD
    bottom: 10%;
    margin-left: 34%;
    margin-top: 10%;
    padding-right:5%;
    padding-left: 5%;
=======
    height: 85px;
    bottom: 10%;
    margin-left: 25%;
    margin-top: 5%
>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09
}



.containerC {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
}

.cardAll a {
    text-decoration: none;
}

.footer{
    box-shadow: 0px 0px 15px black;
    background-color: grey;
    position: absolute;
}
.cardAllJoin{
    background: url("../images/nousRejoindre.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardAllEvent{
    background: url("../images/event.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


.cardAll:hover {
    opacity: .8;
}


.cardLink .btn {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top:0;
    border : none;
}

.cardTitle {
    height :15%;
    color: whitesmoke;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(2,2,2,0.5);
    font-size: 3.5vh;
}

.cardTitle .tucasse {
    justify-content: center;
    align-items: center;
    max-height:100%;
    height:100%
}

.imageClc {
    height: 50%;
    width:20%;
}
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}
<<<<<<< HEAD

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

=======

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09
@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (max-width: 992px)
{
    .mediaQueryCard {
        margin-top: 5%;
    }
    .globalMenu {
        height: 35%;
        background: url("../images/banniereV32.JPG") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin-bottom: 6%;
    }
}

/* Style page connexion/inscription*/

.formConnect {
    padding-top: 5%;
}

.connectCard {
    background-color: grey;
    border-radius : 10px;
}

.parentBtnInscription{
    text-align: center;
    width: 100%;
}
.btnInscription {
    justify-content: center;
    background-color: #1a1e21;
    color:  white;
    font-size: 2em;
    width: 100%;
}

.padding-top-2{
    padding-top:2%;
}

.padding-top-4{
    padding-top:4%;
}

.txtConnexion {
    font-size: 2em;
}

.aMaxWith {
    word-wrap: break-word;
    text-decoration: none;
    width: 100%;
}

.boxAttention {
    background-color: gray;
    padding: 1%;
    border-radius : 10px;
    margin-bottom: 2%;
}

.titleBoxAttention {
    text-align: center;
}

/* Style page profil*/

.divPhotoUser
{
    padding: 0px;
    text-align: center;
}

.divInfosUser
{

    padding: 0px;
}

.photoUser
{
    text-align : center;

}

.cardPhotoUser
{
    padding-top: 30%;
}

.userName
{
    text-align : center;
    font-size: 30px;
}
.infos{
    float: left;
    font-size: 25px;
    padding: 30px;
}

.userInfos
{
    text-align: center;
    vertical-align: center;
}

.infosTitle
{
    font-weight: bold;
    float: left;
    font-size: 25px;
    padding: 30px;
}
.divInfosUser{
    background-color: #c9c9c9;
    box-shadow: 1px 1px 10px black;
}

.fa
{
    padding-top: 20px ;
}

.photo{
    width : 60%;
    border-radius : 50%; box-shadow: 1px 1px 10px black;
}
@media screen and (max-width: 992px) {

    .photoUser {
        width: 100%;

    }
    .cardPhotoUser{
        padding-top: 0px;
        text-align: center;
    }
    .userName
    {
        text-align : center;
        font-size: 50px;
    }
    .infos{
        float: left;
        font-size: 35px;
        padding: 15px;
    }

    .userInfos
    {
        text-align: center;
        vertical-align: center;
        padding-bottom: 10px;
    }

    .infosTitle
    {
        font-weight: bold;
        float: left;
        font-size: 40px;
        padding: 15px;
    }
}

/*Style page nous rejoindre*/

.containerRejoindre
{
    position : relative;
    z-index: 3;
    font-size: 2em;
    background-color: #e3e3e3;
    box-shadow: 1px 1px 10px black;
    padding-top:5%;
    padding-bottom: 5%;
}

.nousRejoindreexpl
{
    text-align: justify;
    font-size: large;
}

<<<<<<< HEAD
.nousRejoindreexpl p {
    color: currentColor;
}
=======
>>>>>>> 4b0b59d11f829d075386fd8b976da509e3cd7c09

.commandesExpl p {
    padding-top:5%;
    padding-bottom: 5%;
    color: currentColor;
}
.cardAllJoin{
    background: url("../images/nousRejoindre.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardCommands{
    background: url("../images/commandes.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.map{
    height: 600px;
}

/*Style gestion des erreurs */

#errorCheck {
    position:absolute;
    z-index: 3;
}

.zIndex1 {
    z-index: 1;
}
.zIndex2 {
    text-align: center;
    width: 100%;
    z-index: 2;
}
.zIndex3 {
    z-index: 3;
}
