@font-face {
    font-family: newPolice;
    src: url("../police/newPolice3.ttf");
}

body {
    font-family:newPolice;
    background-color: lightgray;
}

/* Style menu/footer rpout*/

.titelApropos p {
    color: #ccc !important;
}

.titelApropos h3 {
    color: #fff !important;
}

.titleNousContacter h3 {
    color: #fff !important;
}

.titleNousContacter a {
    color: #ccc !important;
}

.titleReseauSociaux h3 {
    color: #fff !important;
}

.titleReseauSociaux a {
    color: #ccc !important;
}

.linkWikiFooter {
    text-decoration: none;
    color: #ccc;
}

.linkWikiFooter:hover {
    text-decoration: none;
    color: #FFD700 !important;
}

.fa-discord {
    text-decoration: none;
    color: #FFD700;
}

.fa-twitter {
    text-decoration: none;
    color: #FFD700;
}

.btnLiDisconnect {
    padding-left: 20% !important;
    padding-right: 20% !important;
}

#fondecran {
    /* Fixe l'image en haut à gauche de la page */
    position: fixed;
    top: 0;
    left: 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;
}
p{
    margin-left: auto;
    margin-right: auto;
    /*font-size: 4em;*/
    color: white;
}

.menuAfftitre p {
    font-size:4em;
}

.menuAffsoustitre p {
    font-size:4em;
}
.menuAffnbjoueurs
{
    width: 100%;
}

.menuAfftitre
{
    width: 100%;
    height: 15%;
    margin-top: 15%;
    margin-bottom: auto;
}

.menuAffsoustitre{
    width: 100%;
    margin-bottom: auto;
    font-size: 0.5em;
}
footer {
    background-color: grey;
}
.menuA,.menuB {
    list-style-type: none;
    height: 100%;
}

.maxHeight {
    height: 100%;

}

.menuA a li {
    padding-left: 2.3%;
    padding-right: 2.3%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
    display: flex;
    float: left;
    width: auto;
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:relative;
}

.menuB a li {
    padding-left: 2.3%;
    padding-right: 5.2%;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 2em;
    display: flex;
    width: auto;
    color: white;
    float: right;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position:relative;
}

.menuA a li:hover, .menuB a li:hover {
    /*background-color: rgba(100,100,100,0.8);*/
    color: #FFD700;
    /*box-shadow : inset 0px -10px 10px -5px rgba(50,50,50,50.79);*/
}


.menusize
{
    position:relative;
}

footersize{
    height: 100%;
    position:relative;
}
@media screen and (min-width: 992px) {
    .globalMenu {
        height: 100%;
        width: 100%;
        background-image: url("../images/testbanniere.png") /**no-repeat center center**/;
        background-position: 50% 50%;
        /** -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
         margin-bottom: 6%;*


         position: fixed;
         */
    }
}
.menuBar {
    background: rgba(100,100,100,0.4);
}

.containerA {
    height: 8em;
    position: fixed;
    z-index: 2;
}

.containerB {
    z-index:3;
    /*box-shadow: 1px 1px 10px black inset;*/

    height: 100%;
    position: relative;
    /*background: #444;*/
    background: #E0E0E0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.menuTitre{
    height: auto;
    position: relative;
}
.containerBbis{
    position: relative;
    background: #E0E0E0;
}

.logoIndex {
    text-shadow: 1px 1px 10px #212529;
}

.titreInfos p {
    color: #212529 !important;
}
.infosPres{
    text-align: center;
    padding-bottom: 3%;

}

.infosPres p {
    padding-top:5%;
    color: #212529 !important;
}
.cardPres{
    padding: 0px;
}

.cardAll {
    box-shadow: 1px 1px 10px black;
    height: 100%;
    border-radius: 6px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.containerAB {
    height: 100%;
    box-shadow: 0px 0px 10px black;
    text-shadow: 1px 1px 50px black;
    padding-bottom: 5%;
}

#nbPLayer {
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    font-size: 2em;
    border-radius: 10px;
    width: max-content;
    bottom: 10%;
    margin: 0 auto;
    margin-top: 10%;
    padding-right:5%;
    padding-left: 5%;
}



.containerC {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
}

.cardAll a {
    text-decoration: none;
}

.footer{
    border-top: solid 5px #3a3a3b;
    border-top-color: rgb(58, 58, 59);
    border-top-style: solid;
    border-top-width: 5px;
    box-shadow: 0px 0px 15px black;
    /*background-color: grey;*/
    background-color: #1a1a1b;
    position: absolute;
    width: 100%;
}
.cardAllJoin{
    background: url("../images/nousRejoindre.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardAllEvent{
    background: url("../images/event.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}


.cardAll:hover {
    opacity: .8;
}


.cardLink .btn {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top:0;
    border : none;
}

.cardTitle {
    height :15%;
    color: whitesmoke;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgba(2,2,2,0.5);
    font-size: 3.5vh;
}

.cardTitle .tucasse {
    justify-content: center;
    align-items: center;
    max-height:100%;
    height:100%
}

.imageClc {
    height: 50%;
    width:20%;
}
@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}
@media screen and (max-width: 992px)
{
    .btnconnect {
        padding-left: 0% !important;
    }
    .mediaQueryCard {
        margin-top: 5%;
    }
    .globalMenu {
        height: auto;
        background: url("../images/testbanniere.png") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .menusize
    {
        height: auto;
    }
}

/* Style page connexion/inscription*/


.containerInscript {
    background: #E0E0E0;
    padding-top: 5%;
    padding-bottom: 5%;
}

.containerConnect {
    background: #E0E0E0;
}

.formConnect {
    padding-top: 5%;
    padding-bottom: 5%;
}

.connectCard {
    background-color: grey;
    border-radius : 10px;
}

.parentBtnInscription{
    text-align: center;
    width: 100%;
}
.btnInscription {
    justify-content: center;
    background-color: #1a1e21;
    color:  white;
    font-size: 2em;
    width: 100%;
}

.padding-top-2{
    padding-top:2%;
}

.padding-top-4{
    padding-top:4%;
}

.txtConnexion {
    font-size: 2em;
}

.aMaxWith {
    word-wrap: break-word;
    text-decoration: none;
    width: 100%;
}

.boxAttention {
    background-color: gray;
    padding: 1%;
    border-radius : 10px;
    margin-bottom: 2%;
}

.titleBoxAttention {
    text-align: center;
}

/* Style page profil*/

.containerProfil {
    background: #E0E0E0;
    padding-bottom: 5%;
    padding-top: 5%;
}

.divPhotoUser
{
    padding: 0px;
    text-align: center;
}

.divInfosUser
{

    padding: 0px;
}

.photoUser
{
    text-align : center;

}

.cardPhotoUser
{
    padding-top: 15%;
}

.userName
{
    text-align : center;
    font-size: 30px;
}
.infos{
    float: left;
    font-size: 25px;
    padding: 30px;
}

.userInfos
{
    text-align: center;
    vertical-align: center;
}

.infosTitle
{
    font-weight: bold;
    float: left;
    font-size: 25px;
    padding: 30px;
}
.divInfosUser{
    background-color: #c9c9c9;
    box-shadow: 1px 1px 10px black;
}

.fa
{
    padding-top: 20px ;
}

.photo{
    width : 60%;
    border-radius : 50%; box-shadow: 1px 1px 10px black;
}
@media screen and (max-width: 992px) {

    .photoUser {
        width: 100%;

    }
    .cardPhotoUser{
        padding-top: 0px;
        text-align: center;
    }
    .userName
    {
        text-align : center;
        font-size: 50px;
    }
    .infos{
        float: left;
        font-size: 35px;
        padding: 15px;
    }

    .userInfos
    {
        text-align: center;
        vertical-align: center;
        padding-bottom: 10px;
    }

    .infosTitle
    {
        font-weight: bold;
        float: left;
        font-size: 40px;
        padding: 15px;
    }
}

/*Style page nous rejoindre*/

.containerRejoindre
{
    position : relative;
    z-index: 3;
    font-size: 2em;
    background-color: #e3e3e3;
    box-shadow: 1px 1px 10px black;
    padding-top:5%;
    padding-bottom: 5%;
}

.nousRejoindreexpl
{
    text-align: justify;
    font-size: large;
}

.nousRejoindreexpl p {
    color: currentColor;
}

.commandesExpl p {
    padding-top:5%;
    padding-bottom: 5%;
    color: currentColor;
}
.cardAllJoin{
    background: url("../images/nousRejoindre.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardCommands{
    background: url("../images/minecraft-commands.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.map{
    height: 600px;
}

/*Style gestion des erreurs */

#errorCheck {
    position:absolute;
    z-index: 3;
}

.zIndex1 {
    z-index: 1;
}
.zIndex2 {
    text-align: center;
    width: 100%;
    z-index: 2;
}
.zIndex3 {
    z-index: 3;
    position: relative;

}

/*Style page voter*/

.trophe1 {
    color: #FFD700!important;
}

.trophe2 {
    color : #C0C0C0 !important;
}

.trophe3 {
    color: #CD7F32 !important;
 }

.rowInfoVote {
    padding-top: 5%;
    color: #212529;
    padding-left: 20%;
    margin-left: unset !important;
}

.iframeListeServeur iframe {
    margin-top: 40%;
}

.scoreBoard{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

.scoreTitle{
    padding-left: 20%;
    padding-top: 3%;
}

.containerVoter {
    position: relative;
    background: #E0E0E0;
    z-index: 3;
}

.btnVoter {
    margin: 0 auto;
    margin-top: 5%;
}

.btnVoterConnecter {
    margin: 0 auto;
    margin-top: 20%;
    padding-right: 37%;
    padding-left: 37%;
}

.btnVoterWait {
    margin: 0 auto;
    margin-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.rowBtnListeServer {
    margin-top: 5%;
}

.width20 {
    width: 20%;
}

.testCenter {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*style page events*/

.testcard
{
    margin-top: 65%;
    font-size: 1.5em;
    color: white;
}
.cardEvent:hover ~ .test {
    opacity: .5;
    display: block;
}

.cardHungerGame{
    background: url("../images/hungergame.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardBedWar{
    background: url("../images/bedwar.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardEventAutre{
    background: url("../images/eventautre.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.cardAllEvents{
    box-shadow: 1px 1px 10px black;
    border-radius: 6px;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: auto   ;
}

.cardTwitter{
    height: 50%;
}